<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<configSections>
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
	</configSections>
	<appSettings>
		<add key="webpages:Version" value="2.0.0.0"/>
		<add key="webpages:Enabled" value="false"/>
		<add key="PreserveLoginUrl" value="true"/>
		<add key="ClientValidationEnabled" value="true"/>
		<add key="UnobtrusiveJavaScriptEnabled" value="true"/>
		<add key="SystemCode" value="sysMobile"/>
		<!--<add key="aspnet:MaxJsonDeserializerMembers" value="150000" />-->
	</appSettings>
	<system.web.extensions>
		<scripting>
			<webServices>
				<jsonSerialization maxJsonLength="50000000"/>
			</webServices>
		</scripting>
	</system.web.extensions>
	<!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6.1" />
      </system.Web>
  -->
	<system.web>
		<!--set timeout 2h -->
		<sessionState mode="InProc" timeout="7200" cookieName="cookieMobile"/>
		<httpRuntime targetFramework="4.5"/>
		<customErrors mode="Off"/>
		<compilation debug="true" targetFramework="4.5">
		<assemblies>
			<add assembly="Microsoft.ReportViewer.Common, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91"/>
			<add assembly="Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91"/>
		</assemblies>
		</compilation>
		<pages>
			<namespaces>
				<add namespace="System.Web.Helpers"/>
				<add namespace="System.Web.Mvc"/>
				<add namespace="System.Web.Mvc.Ajax"/>
				<add namespace="System.Web.Mvc.Html"/>
				<add namespace="System.Web.Routing"/>
				<add namespace="System.Web.WebPages"/>
			</namespaces>
		</pages>
		<authentication mode="Forms">
			<forms loginUrl="~/Account/LogIn" timeout="180000000" name="fromMobile"/>
		</authentication>
	</system.web>
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false"/>
		<handlers>
			<remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit"/>
			<remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit"/>
			<remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
			<add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0"/>
			<add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0"/>
			<add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0"/>
		</handlers>
	</system.webServer>
	<location path="Scripts">
		<system.web>
			<authentication mode="Windows"/>
			<authorization>
				<deny users="?"/>
			</authorization>
		</system.web>
	</location>
	<connectionStrings>
		<!--connectingdb-->
		<!--<add name="Entities" connectionString="metadata=res://*/Models.Modeldata.csdl|res://*/Models.Modeldata.ssdl|res://*/Models.Modeldata.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=TRAINING;initial catalog=MobileOrder;persist security info=True;user id=mob;password=mobileorder16;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />>-->
		<!-- <add name="MobileOrder_ConnectionString" connectionString="Data Source=training;Initial Catalog=mobileorder;Persist Security Info=True;User ID=mob;Password=mobileorder16;MultipleActiveResultSets=True;Application Name=EntityFramework" providerName="System.Data.SqlClient" />>-->
		<!--<<<<<<< HEAD-->
		<add name="MobileOrderEntities" connectionString="metadata=res://*/Models.OrderingMobileModel.csdl|res://*/Models.OrderingMobileModel.ssdl|res://*/Models.OrderingMobileModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=expo;initial catalog=MobileOrder;persist security info=True;user id=plu;password=access;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
		<!--<<<<<<< HEAD-->
		<!--<add name="MobileOrder_ConnectionString" connectionString="Data Source=training;Initial Catalog=MobileOrder_test;Persist Security Info=True;User ID=plu;Password=access;MultipleActiveResultSets=True;Application Name=EntityFramework" providerName="System.Data.SqlClient" />-->
		<add name="MobileOrder_ConnectionString" connectionString="Data Source=mosrv03;Initial Catalog=MobileOrder_TAM;Persist Security Info=True;User ID=plu;Password=access;MultipleActiveResultSets=True;Application Name=EntityFramework" providerName="System.Data.SqlClient"/>
		<add name="MobileOrderProd_ConnectionString" connectionString="Data Source=training;Initial Catalog=MobileOrder_TAM;Persist Security Info=True;User ID=plu;Password=access;MultipleActiveResultSets=True;Application Name=EntityFramework" providerName="System.Data.SqlClient"/>
		<add name="DefaultConnection" connectionString="DefaultConnection_ConnectionString" providerName="System.Data.SqlClient"/>
		<add name="Promotion_ConnectionString" connectionString="Data Source=training;Initial Catalog=PromotionReg_Test;Persist Security Info=True;User ID=plu;Password=access;MultipleActiveResultSets=True;Application Name=EntityFramework" providerName="System.Data.SqlClient"/>
		<add name="Excel03ConString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source={0};Extended Properties='Excel 8.0;HDR=YES'"/>
		<add name="Excel07ConString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source={0};Extended Properties='Excel 8.0;HDR=YES'"/>
		<!--<add name="Constring" connectionString="Data Source=.\SQL2014;Initial Catalog=AjaxSamples;Integrated Security=true"/>-->
	</connectionStrings>
</configuration>